@model CPP2.Rating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RaterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestingScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestingScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComprehensibleScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComprehensibleScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolitenessScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolitenessScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CppUser.AspNetUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CppUser.AspNetUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
