@model IEnumerable<CPP2.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Conversations</h2>
<p>
    @Html.ActionLink("New Message", "MyContacts")
</p>
<table class="table">
    <tr>
        <th>
            Partner
        </th>
        <th>
            Latest Message
        </th>
        <th>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>

                @if (item.partner.Equals(item.CppUser1.Id))
                {
                    @Html.DisplayFor(modelItem => item.CppUser1.Profiles.FirstOrDefault().FirstName)
                    @Html.DisplayFor(modelItem => item.CppUser1.Profiles.FirstOrDefault().LastName)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.CppUser.Profiles.FirstOrDefault().FirstName)
                    @Html.DisplayFor(modelItem => item.CppUser.Profiles.FirstOrDefault().LastName)
                }

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Message1)
            </td>
            <td></td>
            <td>
                @{int id2 = item.partner;}
                @Html.ActionLink("Go To Conversation", "Details", new { id = id2 })
            </td>
        </tr>


                    }

</table>
